@font-face {
    font-family: Quartz;
    src: url(fonts/Quartz.ttf), url(fonts/quartz\ regular.ttf), url(fonts/QuartzItalic.ttf), url(fonts/QuartzRegular.ttf);

}

main {
    margin: 150px auto 0;
    width: 630px;
    height: 400px;
    background-color: #C0C0C0;
    border-style: outset;
}

.menu {
    padding-top: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    border-style: inset;
}

.couter {
    font-family: Quartz;
    background-color: black;
    color: red;
    width: 45px;
    height: 30px;
    margin: 0 5px;
    font-size: 26px;
    border-style: inset;
    text-align: center;
}

.smile-btn {
    width: 30px;
    height: 30px;
    border-style: outset;
    background-image: url(img/smile.png);
    display: block;
    background-position: center;
    background-size: 100%;
}

.glass {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    border-style: inset;
}

.cell {
    width: 20px;
    height: 20px;
    border-style: outset;
}