main {
    margin: 150px auto 0;
    width: 620px;
    height: 380px;
    background-color: #C0C0C0;
}

.menu {
    padding-top: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    border-style: inset;
}

.couter {
    font-family: Big Shoulders Stencil Text;
    background-color: black;
    color: red;
    width: 50px;
    height: 30px;
    margin: 0 5px;
    font-size: 24px;
    border-style: inset;
    text-align: center;
}

.smail-btn {
    width: 30px;
    height: 30px;
    border-style: outset;
    background-image: url(img/smile.png);
    display: block;
    background-position: center;
    background-size: 100%;
}

.glass {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.cell {
    width: 20px;
    height: 20px;
    border-style: outset;
}