@font-face {
    font-family: Quartz;
    src: url(fonts/Quartz.ttf), url(fonts/quartz\ regular.ttf), url(fonts/QuartzItalic.ttf), url(fonts/QuartzRegular.ttf);

}

main {
    margin: 150px auto 0;
    width: 630px;
    height: 400px;
    background-color: #C0C0C0;
    border-style: outset;
}

.menu {
    padding-top: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    border-style: inset;
}

.couter {
    font-family: Quartz;
    background-color: black;
    color: red;
    width: 45px;
    height: 30px;
    margin: 0 5px;
    font-size: 29px;
    text-align: center;
}

.smile-btn {
    width: 30px;
    height: 30px;
    border-style: outset;
    background-image: url(img/smile.png);
    display: block;
    background-position: center;
    background-size: 100%;
}

.glass {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    border-style: inset;
}

.cell {
    width: 20px;
    height: 20px;
    border-style: outset;
    background-repeat: no-repeat;
    background-position: center;
}

.open {
    border: 1px solid #808080;
}

[class*='num']::after {
    font-family: "Press Start 2P";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    line-height: 0.9;
}

.num1::after {
    content: '1';
    color: blue;
}

.num2::after {
    content: '2';
    color: Green;
}

.num3::after {
    content: '3';
    color: Red;
}

.num4::after {
    content: '4';
    color: Purple;
}

.num5::after {
    content: '5';
    color: Black;
}

.num6::after {
    content: '6';
    color: Gray;
}

.num7::after {
    content: '7';
    color: Maroon;
}

.num8::after {
    content: '8';
    color: Turquoise;
}

.flag {
    background-image: url(img/flag.png);
    background-size: 70%;
}

.mine {
    background-image: url(img/mine.png);
    background-size: 90%;
}

.red {
    background-image: url(img/mine-red.png);
    background-color: #FC0202;
}